{% extends 'security/base.html.twig' %}

{% block title %}Courriel de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <div class="login-box">
        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
        <a href="{{ path('app_login') }}">Retourner à la page de connexion</a>
    </div>
{% endblock %}
