* {
    box-sizing:border-box;
    line-height: 28px;
    text-rendering: optimizeLegibility;
}

html {
    font-family: Oswald, sans-serif;
    font-size: 14px;
    color: #333333;
}

a {
    color: #333333;
    text-decoration: none;
}

.content {
    display: flex;
    height: 100dvh;
}

.header {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    justify-content: space-between;
}