body {
    overflow: hidden;
}

main {
    position: relative;
    width: calc(100% - 348px);
    height: 100%;
}

.right-side-box {
    min-width: 300px;
    width: 300px;
    height: 100%;
    background-color: #FFF;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dark .right-side-box {
    background-color: #1c1b22;
}

:where(.personage-form, .personage-view) strong {
    font-weight: 700;
}

:where(.personage-form, .personage-view) em {
    font-style: italic;
}

:where(.personage-form, .personage-view) ul {
    list-style: inside;
}

:where(.personage-form, .personage-view) ol {
    list-style: decimal;
}
