* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Oswald, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: #090D11;
}

html.dark {
    color: #F3F4F4;
}

body {
    height: 100vh;
    overflow: hidden;
    line-height: 24px;
}

a {
    color: #090D11;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.login-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.login-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.login-box {
    width: 400px;
    background-color: #FFFFFF;
    border: solid 1px #D7D9DB;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 8px;
}

.form-group {
    position: relative;
    width: 100%;
    margin: 8px 0;
}

label {
    display: block;
    max-width: 100%;
    transition: all .1s ease;
}

input {
    color: #333333;
    background: none;
    border: solid 1px #090D11;
    width: 100%;
    padding: 0 4px;
    transition: all .15s ease;
    font-family: Oswald, sans-serif;
    line-height: 28px;
}

input:focus {
    outline: none;
    border: solid 1px #D87D40 !important;
}

input:hover {
    background: rgba(0, 0, 0, .04);
}

.form-group:has(> input:focus) label {
    color: #D87D40;
}

.password-forget-label {
    position: absolute;
    top: 0;
    right: 0;
}

.form-error {
    display: block;
    margin-bottom: 10px;
}

.form-error-prefix {
    color: #F3F4F4;
    background-color: #CB2D2A;
    border-radius: 4px;
    padding: 1px 4px 2px 4px;
    margin-right: 4px;
    font-size: 12px;
}

.form-error span {
    display: inline-block;
}

.btn {
    display: block;
    width: fit-content;
    border: none;
    border-radius: 8px;
    padding: 6px 8px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #D87D40;
    color: #F3F4F4;
}

.btn-secondary {
    background: none;
    color: #090D11;
    border: solid 1px #D87D40;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    z-index: 15;
    border: 1px solid transparent;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

footer {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #F3F4F4;
    }

    a {
        color: #F3F4F4;
    }

    input {
        color: #F3F4F4;
        border-color: #F3F4F4;
    }
    
    input:focus {
        background: #1F262D;
    }

    .login-box {
        background-color: #1F262D;
        border-color: #364049;
    }
    
    .btn-secondary {
        color: #F3F4F4;
    }
}