* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 28px;
    text-rendering: optimizeLegibility;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Oswald, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: #333333;
}

html.dark {
    color: #b3b3b3;
}

a {
    color: #333333;
    text-decoration: none;
}

.content {
    display: flex;
    height: 100dvh;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 24px;
    background-color: #D68836;
    color: #fff;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}