* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
    text-rendering: optimizeLegibility;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Oswald, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: #090D11;
}

html.dark {
    color: #F3F4F4;
}

a {
    color: #090D11;
    text-decoration: none;
}

.content {
    display: flex;
    height: 100dvh;
}

.btn {
    display: block;
    border: none;
    border-radius: 8px;
    padding: 2px 8px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    cursor: pointer;
}

.btn-primary {
    background-color: #D87D40;
    color: #F3F4F4;
}

.btn-secondary {
    background: none;
    color: #090D11;
    border: solid 1px #D87D40;
}

.dark .btn-secondary {
    color: #F3F4F4;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

textarea {
    overflow: auto;
    accent-color: #D87D40;
}

input[type="range"] {
    display: block;
    width: 100%;
    accent-color: #D87D40;
}

input[type="checkbox"], input[type="radio"] {
    accent-color: #D87D40;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}
